<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>angularjs购物车</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="js/index.js"></script>
</head>
<body>
<div class="container" ng-app="cart" ng-controller="cartsController" >
  <table class="table" ng-show="cartData.data.length">
    <thead>
      <tr>
        <th>
          <input ng-checked="flag" ng-click="chooseAll()" type="checkbox">
        </th>
        <th ng-repeat="title in titles">{{title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(index, product) in cartData.data">
        <td>
          <input ng-checked="product.hasChecked" ng-click="checkOne(index)" type="checkbox">
        </td>
        <td class="name">
          <p>{{product.title}}</p>
        </td>
        <td class="price">
          {{product.price}}
        </td>
        <td class="num">
          <button ng-click="reduceNum(index)" class="btn btn-primary">-</button>
          <input type="text" ng-model="product.num">
          <button ng-click="addNum(index)" class="btn btn-primary">+</button>
        </td>
        <td class="total">
          {{product.price * product.num | currency: '￥'}}
        </td>
        <td>
          <button class="btn btn-danger" ng-click="remove(product.id)">删除</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="cartData.data.length" class="totalPrice">
    <span>已选商品总件数 {{totalNum()}}</span>
    <span>已选商品总价 {{totalPrice() | currency: '￥'}}</span>
    <button class="btn btn-danger" ng-click="clearAll(cartData.data)">清空购物车</button>
  </div>
  <p class="nothing" ng-show="!cartData.data.length">您的购物车还没有商品，请尽快去添加吧！</p>
  <copy-right></copy-right>
</div>
</body>
</html>
