*{
  margin: 0;
  padding: 0;
}
/*table{*/
  /*width: 80% !important;*/
  /*height: auto;*/
  /*margin: 20px auto;*/
/*}*/
/*table tr{*/
  /*height: 50px;*/
  /*line-height: 50px;*/
  /*text-align: center;*/
  /*border-bottom: 2px solid #ccc;*/
  /*box-sizing: border-box;*/
/*}*/
/*table tr th,table tr td{*/
  /*border: 0;*/
/*}*/
table tr th{
  text-align: center;
}
table tr td{
  text-align: center;
}
button{
  outline: none!important;
}
.totalPrice{
  width: 100%;
  height: 20px;
  padding: 20px;
  text-align: center;
}
.totalPrice button,.totalPrice span{
  margin-right: 30px;
}
p.nothing{
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-size: 30px;
}
.num input{
  width: 30%;
  text-align: center;
}
.cright{
  width: 100%;
  text-align: center;
  margin-top: 200px;
}
